<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net45" />
  <package id="FastMember" version="1.1.0" targetFramework="net45" />
  <package id="MediatR" version="2.1.0" targetFramework="net45" />
  <package id="NLog" version="4.3.9" targetFramework="net45" />
  <package id="SFA.DAS.Payments.DCFS" version="1.0.0.20114" targetFramework="net45" />
  <package id="SFA.DAS.Payments.DCFS.StructureMap" version="1.0.0.20114" targetFramework="net45" />
  <package id="StructureMap" version="4.4.2" targetFramework="net45" />
</packages>