<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TransientSubmissionDatabaseConnectionString" value="server=.;database=DasProviderDataLockEvents_SubmissionTransient;trusted_connection=true;" />
    <add key="TransientPeriodEndDatabaseConnectionString" value="server=.;database=DasProviderDataLockEvents_PeriodEndTransient;trusted_connection=true;" />
    <add key="DedsDatabaseConnectionString" value="server=.;database=DasProviderDataLockEvents_Deds;trusted_connection=true;" />
  </appSettings>
</configuration>