<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TransientDatabaseConnectionString" value="server=.;database=DasProviderDataLockEvents_Transient;trusted_connection=true;" />
    <add key="DedsDatabaseConnectionString" value="server=.;database=DasProviderDataLockEvents_Deds;trusted_connection=true;" />
  </appSettings>
</configuration>