<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <extensions>
    <add assembly="SFA.DAS.NLog.Targets.Redis"/>
  </extensions>

  <targets>
    <target xsi:type="Redis" name="Redis" connectionStringName="LoggingConnectionString" environmentKeyName="EnvironmentName" appName="das-providerevents-api" includeAllProperties="true" layout="${message}"></target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="Redis" />
  </rules>
</nlog>